{% load i18n %}
{% load humanize %}

<!-- Payout Modal -->
<div class="modal fade" id="payoutModal" tabindex="-1" role="dialog" aria-labelledby="payoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transactionHistoryModalLabel">Payout Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm" id="reportTable">
                                <thead>
                                    <tr class="text-center">
                                        <th>#</th>
                                        <th>{% trans 'Start At'%}</th>
                                        <th>{% trans 'End At'%}</th>
                                        <th>{% trans 'Start Balance'%}</th>
                                        <th>{% trans 'Deposit'%}</th>
                                        <th>{% trans 'Total Payout Amount'%}</th>
                                        <th>{% trans 'Total Payouts'%}</th>
                                        <th>{% trans 'Total Settle Amount'%}</th>
                                        <th>{% trans 'Total Settles'%}</th>
                                        <!-- <th>{% trans 'Total Valid Payout Amount'%}</th>
                                        <th>{% trans 'Total Valid Payout'%}</th>
                                        <th>{% trans 'Estimate Total End Timeline Amount'%}</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Data will be populated by JavaScript -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var table = $('#reportTable').DataTable({
            paging: true,
            searching: true,
            info: true,
            ordering: false,
        });

        $('#payoutModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var username = button.data('username'); // Extract info from data-* attributes

            var modal = $(this);
            modal.find('.modal-title').text('Payout Data - ' + username);

            // Make an AJAX call to fetch the transaction history
            $.ajax({
                url: '{% url "report_payout_by_user" %}', // Replace with your actual URL
                method: 'POST',
                data: { username: username },
                success: function(data) {
                    var tbody = $('#reportTable tbody');
                    tbody.empty(); // Clear existing data
                    console.log(data);
                    $.each(data.data.report_data, function(index, item) {
                        var row = '<tr class="text-center">';
                        row += '<td>' + (index + 1) + '</td>';
                        row += '<td>' + item.start_datetime + '</td>';
                        row += '<td>' + item.end_datetime + '</td>';
                        row += '<td>' + item.start_balance.toLocaleString() + '</td>';
                        row += '<td>' + item.deposit.toLocaleString() + '</td>';
                        row += '<td>' + item.total_amount_payout.toLocaleString() + '</td>';
                        row += '<td>' + item.total_count_payout + '</td>';
                        row += '<td>' + item.total_amount_settle.toLocaleString() + '</td>';
                        row += '<td>' + item.total_count_settle + '</td>';
                        // row += '<td>' + item.total_amount_valid_payout.toLocaleString() + '</td>';
                        // row += '<td>' + item.total_count_valid_payout + '</td>';
                        // row += '<td>' + item.estimate_end_timeline_amount.toLocaleString() + '</td>';
                        row += '</tr>';
                        tbody.append(row);
                    });

                    // Reinitialize DataTable
                    table.clear().rows.add($('#reportTable tbody tr')).draw();
                },
                error: function() {
                    console.log('Error')
                }
            });
        });
    });
</script>