{% extends "layout/layout.html" %}
{% load humanize %}
{% block title %}Bank Account{% endblock %}
{% block content %}
<style>
    .container {
        margin-top: 40px;
    }

    .search-box {
        margin-bottom: 20px;
    }

    .btn-add {
        margin-bottom: 20px;
    }

    .table thead th {
        background-color: #f8f9fa;
    }

    .table tbody tr {
        border-bottom: 1px solid #dee2e6;
    }

    .table tbody tr:last-child {
        border-bottom: none;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control search-box" id="searchAccountNumber"
                placeholder="Search by Account Number">
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-primary btn-add" data-toggle="modal" data-target="#addBankModal">Add Bank</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bank List - <span class="text-success small pt-1 fw-bold">IN</span></h5>
                    <!-- Default Table -->
                    <table class="table table-borderless table-sm">
                        <thead style="font-size: 14px">
                            <tr>
                                <th>Account Number</th>
                                <th>Bank Name</th>
                                <th>Balance</th>
                                <th>Last Update</th>
                                <th>Actions</th>
                        </thead>
                        <tbody id="bankList" style="font-size: 13px">
                            {% for bank_account in list_user_bank %}
                            {% if bank_account.bank_type == 'IN'%}
                            <tr>
                                <td>
                                    <p>{{bank_account.account_number}}</p>
                                    <i>{{bank_account.account_name}}</i>
                                </td>
                                <td>{{bank_account.bank_name}}</td>
                                <td>{{bank_account.balance |intcomma }} <span class="text-success">đ</span></td>
                                <td>{{bank_account.updated_at}}</td>
                                <td>
                                    <a href="{% url 'record_book' %}"><button
                                            class="btn btn-sm btn-success">History</button>
                                    </a>
                                    {% if bank_account.status %}
                                    <button class="btn btn-sm btn-danger btn-toggle-status"
                                        data-account-id="{{ bank_account.id }}" data-status="ON">OFF</button>
                                    {% else %}
                                    <button class="btn btn-sm btn-success btn-toggle-status"
                                        data-account-id="{{ bank_account.id }}" data-status="OFF">ON</button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Default Table Example -->
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bank List - <span class="text-danger small pt-1 fw-bold">OUT</span></h5>
                    <!-- Default Table -->
                    <table class="table table-borderless table-sm">
                        <thead style="font-size: 14px">
                            <tr>
                                <th>Account Number</th>
                                <th>Bank Name</th>
                                <th>Balance</th>
                                <th>Last Update</th>
                                <th>Actions</th>
                        </thead>
                        <tbody id="bankList" style="font-size: 13px">
                            {% for bank_account in list_user_bank %}
                            {% if bank_account.bank_type == 'OUT'%}
                            <tr>
                                <td>
                                    <p>{{bank_account.account_number}}</p>
                                    <i>{{bank_account.account_name}}</i>
                                </td>
                                <td>{{bank_account.bank_name}}</td>
                                <td>{{bank_account.balance |intcomma }} <span class="text-success">đ</span></td>
                                <td>{{bank_account.updated_at}}</td>
                                <td>
                                    <a href="{% url 'record_book' %}"><button
                                            class="btn btn-sm btn-success">History</button>
                                    </a>
                                    {% if bank_account.status %}
                                    <button class="btn btn-sm btn-danger btn-toggle-status"
                                        data-account-id="{{ bank_account.id }}" data-status="ON">OFF</button>
                                    {% else %}
                                    <button class="btn btn-sm btn-success btn-toggle-status"
                                        data-account-id="{{ bank_account.id }}" data-status="OFF">ON</button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Default Table Example -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addBankModal" tabindex="-1" aria-labelledby="addBankModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBankModalLabel">Add New Bank</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalAlertContainer"></div>
                <form id="addBankForm">
                    <div class="form-group">
                        <label for="bankNumber">Bank Number</label>
                        <input type="text" class="form-control" id="bankNumber" name="bankNumber" required>
                    </div>
                    <div class="form-group">
                        <label for="bankUsername">Bank Username</label>
                        <input type="text" class="form-control" id="bankUsername" name="bankUsername" required>
                    </div>
                    <div class="form-group">
                        <label for="bankPassword">Bank Password</label>
                        <input type="password" class="form-control" id="bankPassword" name="bankPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="bankType">Bank TYPE</label>
                        <select class="form-control" id="bankType" name="bankType" required>
                            <option value="IN">IN</option>
                            <option value="OUT">OUT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="bankName">Bank Name</label>
                        <select class="form-control" id="bankName" name="bankName" required>
                            {% for bank in list_bank_option %}
                            <option value="{{ bank.name }}">{{ bank.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Bank</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function showAlert(message, type, container) {
        const alertHTML = `
            <div class="alert alert-${type} alert-dismissible fade show" role="alert">
                ${message}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        `;
        container.html(alertHTML);
    };

    $(document).ready(function () {
        $('#searchAccountNumber').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('#bankList tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $('#addBankForm').on('submit', function (e) {
            e.preventDefault();
            var formData = {
                bankNumber: $('#bankNumber').val(),
                bankUsername: $('#bankUsername').val(),
                bankPassword: $('#bankPassword').val(),
                bankType: $('#bankType').val(),
                bankName: $('#bankName').val()
            };

            $.ajax({
                type: 'POST',
                url: '{% url "add_bank" %}',  // Ensure this URL name matches your urls.py
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function (response) {
                    if (response.status === 200) {
                        showAlert(response.message, 'success', $('#modalAlertContainer'));
                        $('#addBankModal').modal('hide');
                        location.reload();
                    } else {
                        showAlert(response.message, 'danger', $('#modalAlertContainer'));
                    }
                },
                error: function (response) {
                    showAlert(response.message, 'danger', $('#modalAlertContainer'));
                }
            });
        });

        $('.btn-toggle-status').on('click', function () {
            var button = $(this);
            var accountId = button.data('account-id');
            var newStatus = button.data('status') === 'ON' ? 'OFF' : 'ON';
            $.ajax({
                type: 'POST',
                url: '{% url "toggle_bank_status" %}',  // Ensure this URL name matches your urls.py
                data: JSON.stringify({ id: accountId, status: newStatus }),
                contentType: 'application/json',
                success: function (response) {
                    if (response.status === 200) {
                        showAlert(response.message, 'success');
                        button.data('status', newStatus);
                        button.toggleClass('btn-success btn-danger');
                        button.text(newStatus === 'ON' ? 'OFF' : 'ON');
                    } else {
                        showAlert('Failed to update status.', 'danger');
                    }
                },
                error: function (response) {
                    showAlert('An error occurred. Please try again.', 'danger');
                }
            });
        });
    });
</script>
{% endblock %}