{% extends "layout/layout.html" %}
{% load humanize %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for bank_account in list_user_bank %}
        <!-- <div class="col-md-3 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="card-content">
                            <div class="ml-3">
                                <h5 class="card-title">{{bank_account.account_name}}</h5>
                                <p class="balance">{{bank_account.balance | intcomma}} <span class="text-success">đ</span></p>
                                <p class="card-text">{{bank_account.account_number}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span>Today:</span>
                        <div class="today-stats">
                            <span class="text-success">+0 ~ 0</span>
                            <span class="text-danger">-0 ~ 0</span>
                        </div>
                    </div>
                </div>
            </div> -->
        <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

                <div class="card-body">
                    <h5 class="card-title">{{bank_account.account_number}} <span>| {{bank_account.account_name}}</span>
                    </h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                        <div class="ps-3">
                            <h6>{{bank_account.balance | intcomma}} <span class="text-success">đ</span></h6>
                            <span class="text-success small pt-1 fw-bold">8%</span> <span
                                class="text-muted small pt-2 ps-1">increase</span>

                        </div>
                    </div>
                </div>

            </div>
        </div><!-- End Revenue Card -->
        {% endfor %}
    </div>
</div>
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <h5 class="card-title">Latest Transaction History</h5>

            <table class="table table-borderless datatable">
                <thead>
                    <tr class="text-center">
                        <th>Account Number</th>
                        <th>Reference Number</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Memo</th>
                    </tr>
                </thead>
                <tbody id="transaction-table-body">
                    <!-- Data will be appended here -->
                </tbody>
            </table>

        </div>

    </div>
</div><!-- End Recent Sales -->
</div>
{% endblock %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function fetchLatestTransactions() {
            fetch('{% url "update_transaction_history" %}')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    const tableBody = document.querySelector('table.table tbody');
                    if (!tableBody) {
                        console.error('Table body element not found');
                        return;
                    }
                    tableBody.innerHTML = ''; // Clear existing table rows
                    data.data.forEach(transaction => {
                        console.log(transaction)
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${transaction.account}</td>
                            <td>${transaction.transaction_number}</td>
                            <td class="text-success">${transaction.amount.toLocaleString()}</td>
                            <td>${transaction.active_datetime}</td>
                            <td>${transaction.description}</td>
                        `;
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => {
                    console.error('Error fetching transactions:', error);
                });
        }

        // Fetch transactions when the page loads
        fetchLatestTransactions();

        // Optionally, set an interval to fetch the data periodically
        setInterval(fetchLatestTransactions, 15000); // Fetch every 30 seconds
    });
</script>
{% endblock %}