{% extends "layout/layout.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "List Payout" %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="container-fluid">
    <h3>{% trans 'Payout' %}</h3>
    <div class="row">
        <div class="col-md-6 col-sm-12 text-right mt-4">
        </div>
        <div class="col-md-6 col-sm-12 text-right mt-4">
            <button class="btn btn-primary btn-add" data-toggle="modal" data-target="#addPayoutModal">{% trans "Add Payout" %}</button>
        </div>
    </div>
    <form method="get" action="{% url 'list_payout' %}">
        <div class="row">
            <div class="col-md-6 col-sm-12 mt-4">
                <input type="text" id="customSearchBox" name="search" class="form-control" placeholder="{% trans "Search" %}" value="{{ request.GET.search|default_if_none:'' }}">
            </div>
            <div class="col-md-6 col-sm-12 mt-4">
                <select id="statusFilter" name="status" class="form-select">
                    <option value="All" {% if request.GET.status == "All" %}selected{% endif %}>{% trans "All" %}</option>
                    <option value="Pending" {% if request.GET.status == "Pending" or request.GET.status is None %}selected{% endif %}>{% trans "Pending" %}</option>
                    <option value="Done" {% if request.GET.status == "Done" %}selected{% endif %}>{% trans "Done" %}</option>
                    <option value="Canceled" {% if request.GET.status == "Canceled" %}selected{% endif %}>{% trans "Canceled" %}</option>
                    <option value="Reported" {% if request.GET.status == "Reported" %}selected{% endif %}>{% trans "Reported" %}</option>
                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 col-sm-12">
                <label for="start_datetime">{% trans "Start Date" %}</label>
                <input type="datetime-local" id="start_datetime" name="start_datetime" class="form-control" value="{{ request.GET.start_datetime|default_if_none:'' }}">
            </div>
            <div class="col-md-6 col-sm-12">
                <label for="end_datetime">{% trans "End Date" %}</label>
                <input type="datetime-local" id="end_datetime" name="end_datetime" class="form-control" value="{{ request.GET.end_datetime|default_if_none:'' }}">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 col-sm-12 text-right">
                <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
            </div>
        </div>
    </form>
    
    
    
    <div class="row mt-4">
        <div class="card mb-3 col-md-12 col-sm-12">
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <strong>{% trans "Total Results" %}:</strong> <strong id="total-results">{{total_results}}</strong>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <strong>{% trans "Total Amount" %}:</strong> <strong id="grand-total">{{total_amount|intcomma}} VND</strong>
                    </div>
                </div>
            </div>
            <div class="card-body" style="font-size: 12px">
                <h5 class="card-title">{% trans "List Payout" %}</h5>
                <div class="table-responsive">
                    <table class="table table-sm display" id="payoutTable">
                        <thead>
                            <tr class="text-center" style="font-size: 12px">
                                <th scope="col">{% trans "Order ID" %}</th>
                                <th scope="col">{% trans "CID" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in list_payout %}
                            <tr class="text-center" style="font-size: 12px;" data-toggle="collapse" data-target="#collapse{{ item.id }}">
                                <td>{{ item.orderid }}</td>
                                <th>CID1630{{ item.scode }}</th>
                            </tr>
                            <tr class="collapse" id="collapse{{ item.id }}">
                                <td colspan="2">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p><strong>{% trans "Amount" %}:</strong> {{ item.money|floatformat:2|intcomma }} đ</p>
                                                <p><strong>{% trans "Account Number" %}:</strong> {{ item.accountno }}</p>
                                                <p><strong>{% trans "Account Name" %}:</strong> {{ item.accountname }}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p><strong>{% trans "Bank Code" %}:</strong> {{ item.bankcode }}</p>
                                                <p><strong>{% trans "Created At" %}:</strong> {{ item.created_at|date:"d/m/Y H:i:s" }}</p>
                                                <p><strong>{% trans "Created By" %}:</strong> {{ item.user }}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p><strong>{% trans "Updated At" %}:</strong> {{ item.updated_at }}</p>
                                                <p><strong>{% trans "Updated By" %}:</strong> {{ item.updated_by }}</p>
                                                <p><strong>{% trans "Status" %}:</strong>
                                                    {% if item.status %}
                                                    <span class="btn btn-sm bg-success text-center">{% trans "Done" %}</span>
                                                    {% elif item.status == False %}
                                                    <span class="btn btn-sm bg-warning text-center">{% trans "Pending" %}</span>
                                                    {% elif item.status is None %}
                                                    <span></span>
                                                    {% endif %}
                                                </p>
                                                <p><strong>{% trans "Report" %}:</strong>
                                                    {% if item.is_report %}
                                                    <span class="btn btn-sm bg-danger">{% trans "Reported" %}</span>
                                                    {% endif %}
                                                </p>
                                                <p><strong>{% trans "Cancel" %}:</strong>
                                                    {% if item.is_cancel %}
                                                    <span class="btn btn-sm bg-danger">{% trans "Canceled" %}</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        {% if not item.status and not item.is_cancel %}
                                        <button class="btn btn-sm btn-success pay-btn" data-bs-toggle="modal"
                                            data-bs-target="#payModal" data-item-id="{{ item.id }}"
                                            data-bankcode="{{ item.bankcode }}" data-accountno="{{ item.accountno }}"
                                            data-accountname="{{ item.accountname }}" data-money="{{ item.money }}"
                                            data-is-report="{{item.is_report}}"
                                            data-is-cancel="{{item.is_cancel}}">{% trans "Pay" %}</button>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>    
                    </table>
                    <div class="row mt-4">
                        <div class="col-md-12 col-sm-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if list_payout.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.start_datetime %}&start_datetime={{ request.GET.start_datetime|urlencode }}{% endif %}{% if request.GET.end_datetime %}&end_datetime={{ request.GET.end_datetime|urlencode }}{% endif %}" aria-label="First">
                                                <span aria-hidden="true">&laquo;&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ list_payout.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.start_datetime %}&start_datetime={{ request.GET.start_datetime|urlencode }}{% endif %}{% if request.GET.end_datetime %}&end_datetime={{ request.GET.end_datetime|urlencode }}{% endif %}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for num in list_payout.paginator.page_range %}
                                        {% if list_payout.number == num %}
                                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                        {% elif num > list_payout.number|add:-3 and num < list_payout.number|add:3 %}
                                            <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.start_datetime %}&start_datetime={{ request.GET.start_datetime|urlencode }}{% endif %}{% if request.GET.end_datetime %}&end_datetime={{ request.GET.end_datetime|urlencode }}{% endif %}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if list_payout.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ list_payout.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.start_datetime %}&start_datetime={{ request.GET.start_datetime|urlencode }}{% endif %}{% if request.GET.end_datetime %}&end_datetime={{ request.GET.end_datetime|urlencode }}{% endif %}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ list_payout.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.start_datetime %}&start_datetime={{ request.GET.start_datetime|urlencode }}{% endif %}{% if request.GET.end_datetime %}&end_datetime={{ request.GET.end_datetime|urlencode }}{% endif %}" aria-label="Last">
                                                <span aria-hidden="true">&raquo;&raquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                                      
                </div>
            </div>
        </div><!-- End Card with an image on left -->
    </div>
</div>
<div class="modal fade" id="addPayoutModal"  aria-labelledby="addPayoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPayoutModalLabel">{% trans "Add Payout" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalAlertContainer"></div>
                <form id="addPayoutForm">
                    <div class="form-group">
                        <label for="scode">{% trans "CID" %}</label>
                        <select class="form-select" id="scode" name="scode" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="orderid">{% trans "Order ID" %}</label>
                        <input type="text" class="form-control" id="orderid" name="orderid" required>
                    </div>
                    <div class="form-group">
                        <label for="amount">{% trans "Amount" %}</label>
                        <input type="text" class="form-control" id="money" name="money" required>
                    </div>
                    <div class="form-group">
                        <label for="accountno">{% trans "Account Number" %}</label>
                        <input type="text" class="form-control" id="accountno" name="accountno" required>
                    </div>
                    <div class="form-group">
                        <label for="accountname">{% trans "Account Name" %}</label>
                        <input type="text" class="form-control" id="accountname" name="accountname" required>
                    </div>
                    <div class="form-group">
                        <label for="bankcode">{% trans "Bank" %}</label>
                        <select class="form-select" id="bankcode" name="bankcode" required>
                            {% for bank in bank_data %}
                            <option value="{{ bank.code }}" data-bank-name="{{ bank.short_name }}">{{ bank.short_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="payModal"  aria-labelledby="payModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="payModalLabel">{% trans "Payout Details" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modalQrImage" class="img-fluid rounded-start" alt="QR Code">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger report-btn" data-item-id="">{% trans "Report" %}</button>
                <button type="button" class="btn btn-warning cancel-btn" data-item-id="">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#selectPayoutBankModal">{% trans "Done" %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="selectPayoutBankModal"  aria-labelledby="selectPayoutBankModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectPayoutBankModalLabel">{% trans "Select Payout Bank" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="processBank">{% trans "Process Bank" %}</label>
                <select class="form-select" id="processBank" name="processBank" required>
                    {% for bank in banks %}
                    <option value="{{ bank.id }}">{{ bank.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success done-btn-modal" data-item-id="">{% trans "Done" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Toastr CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<!-- Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    function formatDateToYYYYMMDD(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed, so add 1
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    function setDateTimeInputs() {
        const startInput = document.getElementById('start_datetime');
        const endInput = document.getElementById('end_datetime');

        // Get the current date and time
        const currentDate = new Date();
        const today = formatDateToYYYYMMDD(currentDate);
        const startDateTime = `${today}T00:00`;
        const endDateTime = `${today}T23:59`;

        if (!startInput.value) {
            startInput.value = startDateTime;
        }
        if (!endInput.value) {
            endInput.value = endDateTime;
        }
    }

    document.addEventListener('DOMContentLoaded', setDateTimeInputs);
</script>
<script>
    function formatDateToYYYYMMDD(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed, so add 1
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    $('#addPayoutForm').on('submit', function (e) {
        e.preventDefault();
        var formData = {
            scode: $('#scode').val(),
            orderid: $('#orderid').val(),
            money: $('#money').val(),
            accountno: $('#accountno').val(),
            accountname: $('#accountname').val(),
            bankcode: $('#bankcode').val()
        };

        $.ajax({
            type: 'POST',
            url: '{% url "add_payout" %}',  // Ensure this URL name matches your urls.py
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function (response) {
                if (response.status === 200) {
                    $('#addPayoutModal').modal('hide');
                    toastr.success('Payout added successfully' || 'Done add');
                    setTimeout(function(){
                        location.reload();
                    }, 3000);
                } else {
                    toastr.error(response.message || 'An error occurred while adding the payout.');
                }
            },
            error: function (response) {
                toastr.error(response.message || 'An error occurred while adding the payout.');
            }
        });
    });

    $(document).on('click', '.pay-btn', function () {
        var itemId = $(this).data('item-id');
        var bankcode = $(this).data('bankcode');
        var accountno = $(this).data('accountno');
        var accountname = $(this).data('accountname');
        var money = $(this).data('money');
        var isReport = $(this).data('is-report');
        var isCancel = $(this).data('is-cancel');

        var qrUrl = `https://api.vietqr.io/${bankcode}/${accountno}/${money}/Z${accountname}/print.jpg`;

        $('#modalQrImage').attr('src', qrUrl);
        $('.done-btn-modal').data('item-id', itemId);

        // Show/hide Report button
        if (isReport === 'False') {
            $('.report-btn').css('display', 'block').data('item-id', itemId);
        } else {
            $('.report-btn').css('display', 'none');
        }

        // Show/hide Cancel button
        if (isCancel === 'False') {
            $('.cancel-btn').css('display', 'block').data('item-id', itemId);
        } else {
            $('.cancel-btn').css('display', 'none');
        }

        $('#payModal').modal('show');


        $('.done-btn-modal').click(function () {
            var itemId = $(this).data('item-id');
            var bankId = $('#processBank').val();
            const csrftoken = getCookie('csrftoken');
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to mark this payout as done?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{% url 'update_payout' 'done' %}",
                        type: 'POST',
                        data: JSON.stringify({ id: itemId, bank_id: bankId }),
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function (data) {
                            if (data.success) {
                                Swal.fire(
                                    'Marked!',
                                    'The payout has been marked as done.',
                                    'success'
                                ).then(() => {
                                    location.reload();  // Reload the page to reflect the changes
                                });
                            } else {
                                console.log(data.message)
                                Swal.fire(
                                    'Error!',
                                    'An error occurred.',
                                    'error'
                                );
                            }
                        }
                    });
                }
            });
        });

        $('.report-btn').off('click').on('click', function () {
            var itemId = $(this).data('item-id');
            const csrftoken = getCookie('csrftoken');
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to report this payout?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{% url 'update_payout' 'report' %}",
                        type: 'POST',
                        data: JSON.stringify({ id: itemId }),
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function (data) {
                            if (data.success) {
                                Swal.fire(
                                    'Reported!',
                                    'The payout has been reported.',
                                    'success'
                                ).then(() => {
                                    location.reload();  // Reload the page to reflect the changes
                                });
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'An error occurred.',
                                    'error'
                                );
                            }
                        }
                    });
                }
            });
        });

        // Cancel button click handler
        $('.cancel-btn').off('click').on('click', function () {
            var itemId = $(this).data('item-id');
            const csrftoken = getCookie('csrftoken');
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to cancel this payout?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{% url 'update_payout' 'cancel' %}",
                        type: 'POST',
                        data: JSON.stringify({ id: itemId }),
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function (data) {
                            if (data.success) {
                                Swal.fire(
                                    'Cancelled!',
                                    'The payout has been cancelled.',
                                    'success'
                                ).then(() => {
                                    location.reload();  // Reload the page to reflect the changes
                                });
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'An error occurred.',
                                    'error'
                                );
                            }
                        }
                    });
                }
            });
        });
    });
</script>
{% endblock %}
