{% extends "layout/layout.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}{% trans "Record Book" %}{% endblock %}
{% block content %}
<style>
    .table-container {
        display: flex;
        justify-content: space-between;
    }

    .table-wrapper {
        width: 48%;
        border: 2px solid #dee2e6;
        border-radius: 8px;
        padding: 15px;
    }

    .table-wrapper h6 {
        text-align: center;
        margin-bottom: 10px;
    }

    .totals-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        font-weight: bold;
    }

    .totals-container div {
        margin-bottom: 10px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="search_box">{% trans "Search" %}</label>
                    <input type="text" id="search_box" class="form-control"
                        placeholder="{% trans 'Search everything here...' %}" />
                </div>
                <div class="col-md-4">
                    <label for="start_datetime">{% trans "Start Date" %}</label>
                    <input type="datetime-local" id="start_datetime" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label for="end_datetime">{% trans "End Date" %}</label>
                    <input type="datetime-local" id="end_datetime" class="form-control" />
                </div>
            </div>
            <div class="card">
                <div class="card-body" style="font-size: 12px">
                    <h5 class="card-title">{% trans "Record Book" %}</h5>
                    <div class="card-body" style="font-size: 12px">
                        <div class="table-container row">
                            <div class="table-responsive col-md-6 col-sm-6">
                                <div class="totals-container">
                                    <div>{% trans "Transactions Success Count" %}: <span id="success-count-in"></span></div>
                                    <div>{% trans "Transactions Non-Success Count" %}: <span id="non-success-count-in"></span></div>
                                    <div>{% trans "Transactions Page Total Success Amount" %}: <span id="page-total-in"></span></div>
                                    <div>{% trans "Transactions Grand Total Success Amount" %}: <span id="grand-total-in"></span></div>
                                </div>
                                <table id="inTransactionTable" class="table table-sm display">
                                    <thead>
                                        <tr class="text-center" style="font-size: 12px">
                                            <th>{% trans "Account Number" %}</th>
                                            <th>{% trans "Transaction Number" %}</th>
                                            <th>{% trans "Amount" %}</th>
                                            <th>{% trans "Date" %}</th>
                                            <th>{% trans "Memo" %}</th>
                                            <th>{% trans "Status" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody id="inTransactionTableBody" class="text-center">
                                        {% for item in page_obj %}
                                        {% if item.transaction_type == 'IN' %}
                                        <tr style="font-size: 11px;">
                                            <td>{{ item.account_number }}</td>
                                            <td>{{ item.transaction_number }}</td>
                                            <td class="text-success">{{ item.amount|floatformat:2|intcomma }}</td>
                                            <td>{{ item.transaction_date|date:"Y-m-d H:i:s" }}</td>
                                            <td>{{ item.description }}</td>
                                            <td>{{ item.status}}</td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="table-container row">
                            <div class="table-responsive col-md-6 col-sm-6">
                                <table id="outTransactionTable" class="table table-sm display">
                                    <thead>
                                        <tr class="text-center" style="font-size: 12px">
                                            <th>{% trans "Account Number" %}</th>
                                            <th>{% trans "Transaction Number" %}</th>
                                            <th>{% trans "Amount" %}</th>
                                            <th>{% trans "Date" %}</th>
                                            <th>{% trans "Memo" %}</th>
                                            <th>{% trans "Status" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody id="outTransactionTableBody" class="text-center">
                                        {% for item in page_obj %}
                                        {% if item.transaction_type == 'OUT' %}
                                        <tr style="font-size: 11px;">
                                            <td>{{ item.account_number }}</td>
                                            <td>{{ item.transaction_number }}</td>
                                            <td class="text-danger">{{ item.amount|floatformat:2|intcomma }}</td>
                                            <td>{{ item.transaction_date|date:"Y-m-d H:i:s" }}</td>
                                            <td>{{ item.description }}</td>
                                            <td>{{ item.status}}</td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include DataTables CSS and JS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        function intVal(i) {
            if (typeof i === 'string') {
                let cleanedString = i.replace(/[^\d]/g, '');
                if (cleanedString.endsWith('00')) {
                    cleanedString = cleanedString.slice(0, -2);
                }
                return parseInt(cleanedString, 10);
            } else if (typeof i === 'number') {
                return i;
            } else {
                return 0;
            }
        }

        var inTable = $('#inTransactionTable').DataTable({
            "pageLength": 10,
            "lengthMenu": [5, 10, 20, 50],
            "ordering": false,
            "dom": 'lrtip',
            "drawCallback": function (settings) {
                var api = this.api();
                var pageTotal = 0;
                var grandTotal = 0;
                var successCount = 0;
                var nonSuccessCount = 0;

                // Calculate page total and success/non-success counts for visible rows
                api.rows({ page: 'current' }).every(function (rowIdx, tableLoop, rowLoop) {
                    var data = this.data();
                    var amount = intVal(data[2]);
                    var status = data[5];

                    if (status === 'Success') {
                        pageTotal += amount;
                        successCount++;
                    } else {
                        nonSuccessCount++;
                    }
                });

                // Calculate grand total for all filtered rows
                api.rows({ search: 'applied' }).every(function (rowIdx, tableLoop, rowLoop) {
                    var data = this.data();
                    var amount = intVal(data[2]);
                    var status = data[5];

                    if (status === 'Success') {
                        grandTotal += amount;
                    }
                });

                // Update the footer
                $('#page-total-in').html(pageTotal.toLocaleString() + ' đ');
                $('#grand-total-in').html(grandTotal.toLocaleString() + ' đ');
                $('#success-count-in').html(successCount.toLocaleString());
                $('#non-success-count-in').html(nonSuccessCount.toLocaleString());
            }
        });

        var outTable = $('#outTransactionTable').DataTable({
            "pageLength": 10,
            "lengthMenu": [5, 10, 20, 50],
            "ordering": false,
            "dom": 'lrtip',
            "drawCallback": function (settings) {
                var api = this.api();
                var total = 0;
                var pageTotal = 0;

                // Calculate page total
                api.rows({ page: 'current' }).every(function (rowIdx, tableLoop, rowLoop) {
                    var data = this.data();
                    pageTotal += intVal(data[2]);
                });

                // Calculate grand total
                api.rows({ search: 'applied' }).every(function (rowIdx, tableLoop, rowLoop) {
                    var data = this.data();
                    total += intVal(data[2]);
                });

                // Update the footer
                $('#page-total-out').html(pageTotal.toLocaleString() + ' đ');
                $('#grand-total-out').html(total.toLocaleString() + ' đ');
            }
        });

        function convertStringToDate(dateTimeString) {
            const [datePart, timePart] = dateTimeString.split(' ');
            const [day, month, year] = datePart.split('/').map(Number);
            const [hours, minutes, seconds] = timePart.split(':').map(Number);
            return new Date(year, month - 1, day, hours, minutes, seconds);
        }

        function formatDateToYYYYMMDD(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        const currentDate = new Date();
        const today = formatDateToYYYYMMDD(currentDate);
        const startDateTime = `${today}T00:00`;
        const endDateTime = `${today}T23:59`;

        $('#start_datetime').val(startDateTime);
        $('#end_datetime').val(endDateTime);

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = $('#start_datetime').val();
                var max = $('#end_datetime').val();
                var date = new Date(data[3]);

                if (min) {
                    min = new Date(min);
                }
                if (max) {
                    max = new Date(max);
                }

                if (
                    (min === '' && max === '') ||
                    (min === '' && date <= max) ||
                    (min <= date && max === '') ||
                    (min <= date && date <= max)
                ) {
                    return true;
                }
                return false;
            }
        );

        $('#start_datetime, #end_datetime').on('change', function () {
            inTable.draw();
            outTable.draw();
        });

        $('#search_box').on('keyup input change', function () {
            inTable.search(this.value).draw();
            outTable.search(this.value).draw();
        });
    });
</script>
{% endblock %}



