{% extends "layout/layout.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}{% trans "Record Book" %}{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    .table-wrapper {
        border: 2px solid #dee2e6;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .table-wrapper h6 {
        text-align: center;
        margin-bottom: 10px;
    }

    .totals-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        font-weight: bold;
    }

    .totals-container div {
        margin-bottom: 10px;
    }

    .same-height {
        display: flex;
        flex-wrap: wrap;
    }

    .same-height > .col-md-6 {
        display: flex;
        flex-direction: column;
    }

    .same-height .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .same-height .table-responsive {
        flex-grow: 1;
    }

    .hidden-row td {
        text-align: left;
    }

</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h3 class="card-title" style="font-size: 13px;">{% trans "Record Book" %}</h3>
    <form method="get" id="search-form">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <label for="search_box">{% trans "Search" %}</label>
                <input type="text" id="search_box" name="search" class="form-control input-sm" placeholder="{% trans 'Search everything here...' %}" value="{{ search_query }}" />
            </div>
            <div class="col-md-4 col-sm-12">
                <label for="start_datetime">{% trans "Start Date" %}</label>
                <input type="datetime-local" id="start_datetime" name="start_datetime" class="form-control input-sm" value="{{ start_date }}" />
            </div>
            <div class="col-md-4 col-sm-12">
                <label for="end_datetime">{% trans "End Date" %}</label>
                <input type="datetime-local" id="end_datetime" name="end_datetime" class="form-control input-sm" value="{{ end_date }}" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 col-sm-12 text-right">
                <input type="hidden" name="in_page" value="{{ in_page_obj.number }}">
                <input type="hidden" name="out_page" value="{{ out_page_obj.number }}">
                <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
            </div>
        </div>
    </form>
    <div class="row d-flex justify-content-between mt-4 same-height">
        <div class="col-md-6">
            <div class="card-body table-wrapper" style="font-size: 12px">
                <div class="totals-container">
                    <div>{% trans "Total IN Amount:" %} <span id="total-in-amount">{{ total_in_amount|floatformat:2|intcomma }}</span></div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm display">
                        <thead>
                            <tr class="text-center" style="font-size: 12px">
                                <th></th>
                                <th>{% trans "Account Number" %}</th>
                                <th>{% trans "Amount" %}</th>
                                <th>{% trans "Date" %}</th>
                                <th>{% trans "Transfer Code" %}</th>
                                <th>{% trans "Status" %}</th>
                            </tr>
                        </thead>
                        <tbody id="inTransactionTableBody" class="text-center">
                            {% if in_page_obj %}
                            {% for item in in_page_obj %}
                            <tr class="main-row text-center" style="font-size: 12px;" data-transaction-number="{{ item.transaction_number }}">
                                <td>
                                    <span class="toggle-icon" id="icon-{{ item.transaction_number }}">
                                        <i class="fa fa-plus-circle" style="color: green;"></i>
                                    </span>
                                </td>
                                <td>{{ item.account_number }}</td>
                                <td class="text-success">{{ item.amount|floatformat:2|intcomma }}</td>
                                <td>{{ item.transaction_date|date:"d/m/Y H:i:s" }}</td>
                                <td>{{item.transfer_code}}</td>
                                <td>{{ item.status }}</td>
                            </tr>
                            <tr class="hidden-row" id="details-{{ item.transaction_number }}" style="display: none;">
                                <td colspan="6">
                                    <div>
                                        <strong>{% trans "Transaction Number" %}:</strong> {{ item.transaction_number }}<br>
                                        <strong>{% trans "Memo" %}:</strong> {{ item.description }}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- Pagination for IN transactions -->
                {% if in_page_obj %}
                <div class="d-flex justify-content-center">
                    <nav aria-label="In transactions page navigation">
                        <ul class="pagination" id="in-pagination">
                            {% if in_page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="#" data-page="{{ in_page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </span>
                            </li>
                            {% endif %}
                            {% for num in in_page_obj.paginator.page_range %}
                                {% if num > in_page_obj.number|add:'-3' and num < in_page_obj.number|add:'3' %}
                                    {% if in_page_obj.number == num %}
                                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="#" data-page="{{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if in_page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="#" data-page="{{ in_page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </span>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-body table-wrapper" style="font-size: 12px">
                <div class="totals-container">
                    <div>{% trans "Total OUT Amount:" %} <span id="total-out-amount">{{ total_out_amount|floatformat:2|intcomma }}</span></div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm display">
                        <thead>
                            <tr class="text-center" style="font-size: 12px">
                                <th></th>
                                <th>{% trans "Account Number" %}</th>
                                <th>{% trans "Amount" %}</th>
                                <th>{% trans "Date" %}</th>
                                <th>{% trans "Status" %}</th>
                            </tr>
                        </thead>
                        <tbody id="outTransactionTableBody" class="text-center">
                            {% if out_page_obj %}
                            {% for item in out_page_obj %}
                            <tr class="main-row text-center" style="font-size: 12px;" data-transaction-number="{{ item.transaction_number }}">
                                <td>
                                    <span class="toggle-icon" id="icon-{{ item.transaction_number }}">
                                        <i class="fa fa-plus-circle" style="color: green;"></i>
                                    </span>
                                </td>
                                <td>{{ item.account_number }}</td>
                                <td class="text-danger">{{ item.amount|floatformat:2|intcomma }}</td>
                                <td>{{ item.transaction_date|date:"d/m/Y H:i:s" }}</td>
                                <td>{{ item.status }}</td>
                            </tr>
                            <tr class="hidden-row" id="details-{{ item.transaction_number }}" style="display: none;">
                                <td colspan="6">
                                    <div>
                                        <strong>{% trans "Transaction Number" %}:</strong> {{ item.transaction_number }}<br>
                                        <strong>{% trans "Memo" %}:</strong> {{ item.description }}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- Pagination for OUT transactions -->
                {% if out_page_obj %}
                <div class="d-flex justify-content-center">
                    <nav aria-label="Out transactions page navigation">
                        <ul class="pagination" id="out-pagination">
                            {% if out_page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="#" data-page="{{ out_page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </span>
                            </li>
                            {% endif %}
                            {% for num in out_page_obj.paginator.page_range %}
                                {% if num > out_page_obj.number|add:'-3' and num < out_page_obj.number|add:'3' %}
                                    {% if out_page_obj.number == num %}
                                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="#" data-page="{{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if out_page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="#" data-page="{{ out_page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </span>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script%}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const formatDateTime = (input) => {
        const date = new Date(input);
        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based
        const year = date.getFullYear();
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        const seconds = String(date.getSeconds()).padStart(2, '0');
        return `${day}/${month}/${year} ${hours}:${minutes}:${seconds}`;
    };

    const toggleDetailsRow = (rowId) => {
        const detailsRow = document.getElementById('details-' + rowId);
        const icon = document.getElementById('icon-' + rowId).querySelector('i');
        if (detailsRow.style.display === 'none') {
            detailsRow.style.display = '';
            icon.classList.replace('fa-plus-circle', 'fa-minus-circle');
            icon.style.color = 'red';
        } else {
            detailsRow.style.display = 'none';
            icon.classList.replace('fa-minus-circle', 'fa-plus-circle');
            icon.style.color = 'green';
        }
    };

    const bindRowClickEvents = () => {
        document.querySelectorAll('.main-row').forEach(row => {
            row.addEventListener('click', () => {
                const rowId = row.dataset.transactionNumber;
                toggleDetailsRow(rowId);
            });
        });
    };

    const updateTotals = (totalIn, totalOut) => {
        document.getElementById('total-in-amount').textContent = totalIn.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        document.getElementById('total-out-amount').textContent = totalOut.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
    };

    const fetchData = async (url, callback) => {
        try {
            const response = await fetch(url, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                });
            if (response.ok) {
                const data = await response.json();
                console.log(data)
                callback(data);
                updateTotals(data.total_in_amount, data.total_out_amount);
            } else {
                throw new Error('Incorrect contents fetched, please reload.');
            }
        } catch (error) {
            console.error('Error fetching data:', error);
            alert('Error fetching data: ' + error.message);
        }
    };

    const updateTableData = (tableId, data) => {
        const tableBody = document.getElementById(tableId);
        tableBody.innerHTML = '';
        data.forEach((item) => {
            const row = document.createElement('tr');
            row.className = 'main-row text-center';
            row.style.fontSize = '12px';
            row.dataset.transactionNumber = item.transaction_number;
            row.innerHTML = `
                <td><span class="toggle-icon" id="icon-${item.transaction_number}"><i class="fa fa-plus-circle" style="color: green;"></i></span></td>
                <td>${item.account_number}</td>
                <td class="${tableId === 'inTransactionTableBody' ? 'text-success' : 'text-danger'}">${item.amount.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 })}</td>
                <td>${formatDateTime(item.transaction_date)}</td>
                ${tableId === 'inTransactionTableBody' ? `<td>${item.transfer_code}</td>` : ''}
                <td>${item.status}</td>
            `;
            tableBody.appendChild(row);

            const detailsRow = document.createElement('tr');
            detailsRow.className = 'hidden-row';
            detailsRow.id = `details-${item.transaction_number}`;
            detailsRow.style.display = 'none';
            detailsRow.innerHTML = `
                <td colspan="6"><div><strong>Transaction Number:</strong> ${item.transaction_number}<br><strong>Memo:</strong> ${item.description}</div></td>
            `;
            tableBody.appendChild(detailsRow);
        });
        bindRowClickEvents();
    };

    const handlePaginationClick = (event, paginationId) => {
        event.preventDefault();
        const page = event.target.dataset.page;
        if (page) {
            const url = new URL(window.location.href);
            const params = new URLSearchParams(url.search);
            params.set(paginationId === 'in-pagination' ? 'in_page' : 'out_page', page);
            url.search = params.toString();
            fetchData(url.toString(), (data) => {
                updateTableData('inTransactionTableBody', data.in_transactions);
                updateTableData('outTransactionTableBody', data.out_transactions);
                updatePagination('in-pagination', data.in_page, data.in_num_pages);
                updatePagination('out-pagination', data.out_page, data.out_num_pages);
            });
            history.pushState({}, '', url.toString());
        }
    };

    const updatePagination = (paginationId, currentPage, numPages) => {
        const pagination = document.getElementById(paginationId);
        pagination.innerHTML = '';
        if (currentPage > 1) {
            pagination.innerHTML += `
                <li class="page-item">
                    <a class="page-link" href="#" data-page="${currentPage - 1}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            `;
        } else {
            pagination.innerHTML += `
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
            `;
        }
        for (let i = Math.max(1, currentPage - 2); i <= Math.min(numPages, currentPage + 2); i++) {
            pagination.innerHTML += `
                <li class="page-item ${i === currentPage ? 'active' : ''}">
                    <a class="page-link" href="#" data-page="${i}">${i}</a>
                </li>
            `;
        }
        if (currentPage < numPages) {
            pagination.innerHTML += `
                <li class="page-item">
                    <a class="page-link" href="#" data-page="${currentPage + 1}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            `;
        } else {
            pagination.innerHTML += `
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
            `;
        }
        pagination.querySelectorAll('a.page-link').forEach(link => {
            link.addEventListener('click', (event) => handlePaginationClick(event, paginationId));
        });
    };

    document.getElementById('search-form').addEventListener('submit', (event) => {
        event.preventDefault();
        const url = new URL(window.location.href);
        const params = new URLSearchParams(new FormData(event.target));
        params.set('in_page', params.get('in_page') || 1);
        params.set('out_page', params.get('out_page') || 1);
        fetchData(`${url.pathname}?${params.toString()}`, (data) => {
            updateTableData('inTransactionTableBody', data.in_transactions);
            updateTableData('outTransactionTableBody', data.out_transactions);
            updatePagination('in-pagination', data.in_page, data.in_num_pages);
            updatePagination('out-pagination', data.out_page, data.out_num_pages);
        });
        history.pushState({}, '', `${url.pathname}?${params.toString()}`);
    });

    bindRowClickEvents();

    document.querySelectorAll('#in-pagination a.page-link').forEach(link => {
        link.addEventListener('click', (event) => handlePaginationClick(event, 'in-pagination'));
    });

    document.querySelectorAll('#out-pagination a.page-link').forEach(link => {
        link.addEventListener('click', (event) => handlePaginationClick(event, 'out-pagination'));
    });
});

</script>
{% endblock %}
