{% load i18n %}
{% load humanize %}
<style>
    tr {
        font-size: 12px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .online-status {
        color: green;
    }
    .online-status i {
        margin-right: 5px;
    }
</style>
<div class="row">
    <div class="col-md-12 mt-4">
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-sm" id="userReportTable">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>{% trans 'User' %}</th>
                        <th>{% trans 'Timeline' %}</th>
                        <th>{% trans 'Bank Accounts' %}</th>
                        <th>{% trans 'Payout' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for username, data in report_data.users.items %}
                    <tr>
                        <td class="text-center"><b>{{ forloop.counter }}</b></td>
                        {% if data.online %}
                        <td>
                            <div class="online-status">
                                <i class="fa fa-circle"></i>
                                <span>{{ username }}</span>
                            </div>
                        </td>
                        {% else %}
                        <td>{{ username }}</td>
                        {% endif %}
                        <td class="text-center">
                            {% if data.timeline %}
                            <p>{{data.timeline.name}}</p>
                            <i>{{data.timeline.start_at}} - {{data.timeline.end_at}}</i>
                            {% endif %}
                        </td>
                        <td>
                            <ul>
                                {% for account in data.bank_accounts %}
                                <li><a href="#" data-toggle="modal" data-target="#transactionHistoryModal" data-account="{{ account.account_no }}">{{ account.account_no }} - {{ account.bank_name }} - {{ account.bank_type }} - {{ account.balance|floatformat:2|intcomma }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="text-center">
                            {% if data.payout %}
                            <a href="#" data-toggle="modal" data-target="#payoutModal" data-username="{{ username }}">
                                <p>{% trans 'Timeline Amount' %}: {{data.payout.current_total_amount_payout|floatformat:2|intcomma}}</p>
                                <i>{% trans 'Timeline Total' %}: {{data.payout.curent_total_count_payout}}</i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include "_transaction_history_modal.html" %}
{% include "_payout_modal.html" %}
<script>
    $(document).ready(function() {
        $('#userReportTable').DataTable({
            paging: true,
            searching: true,
            info: true,
            ordering:false,
            columnDefs: [
                { orderable: false, targets: [3] } // Disables sorting on the 'Bank Accounts' column
            ],
        });
    });
</script>

