{% extends "layout/layout.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "User Payout Statistic" %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<style>
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    #payout-table {
        border: none !important;
    }

    #payout-table thead th {
        border-bottom: none !important;
    }

    #payout-table tbody tr {
        border-top: none !important;
    }

    #payout-table_wrapper .row:first-child,
    #payout-table_wrapper .row:last-child {
        display: none;
    }

    .table-sm tbody tr {
        font-size: 13px !important;
    }

    .table-sm thead th {
        font-size: 13px !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="mt-4">{% trans "Payout Statistics" %}</h3>
    <form id="filter-form" class="mb-4">
        <div class="form-row">
            <div class="form-group col-md-4" style="font-size: 13px;">
                <label for="username_search">{% trans "Search User" %}</label>
                <input type="text" class="form-control" id="username_search" list="usernames_datalist">
                <datalist id="usernames_datalist">
                    {% for user in all_users %}
                        <option value="{{ user.username }}">
                    {% endfor %}
                </datalist>
                <small class="form-text text-muted">{% trans "Select a username and press enter to add it to the list." %}</small>
            </div>
            <div class="form-group col-md-8" style="font-size: 13px;">
                <label>{% trans "Selected User" %}</label>
                <ul id="selected_usernames" class="list-group">
                    {% for username in usernames %}
                        <li class="list-group-item">
                            {{ username }}
                            <input type="hidden" name="usernames" value="{{ username }}">
                            <button type="button" class="close" aria-label="Close" onclick="removeUsername(this)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-row" style="font-size: 13px;">
            <div class="form-group col-md-4">
                <label for="start_datetime">{% trans "Start Date" %}</label>
                <input type="datetime-local" class="form-control" id="start_datetime" name="start_datetime" value="{{ start_datetime|default_if_none:'' }}">
            </div>
            <div class="form-group col-md-4">
                <label for="end_datetime">{% trans "End Date" %}</label>
                <input type="datetime-local" class="form-control" id="end_datetime" name="end_datetime" value="{{ end_datetime|default_if_none:'' }}">
            </div>
            <div class="form-group col-md-4 align-self-end">
                <button type="submit" class="btn btn-primary mt-4">{% trans "Search" %}</button>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table id="payout-table" class="table table-sm mb-4 text-center">
            <thead>
                <tr style="font-size: 13px">
                    <th>{% trans "User" %}</th>
                    <th>{% trans "Total Payout" %}</th>
                    <th>{% trans "Total Settled Payout" %}</th>
                    <th>{% trans "Total" %}</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for username, totals in combined_data.items %}
                    <tr style="font-size: 13px">
                        <td>{{ username }}</td>
                        <td>{{ totals.total_payout|floatformat:2|intcomma }}</td>
                        <td>{{ totals.total_settled_payout|floatformat:2|intcomma }}</td>
                        <td>{{ totals.total|floatformat:2|intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr style="font-size: 13px">
                    <th>{% trans "Total" %}</th>
                    <th id="total-payout"></th>
                    <th id="total-settled-payout"></th>
                    <th id="total-all"></th>
                </tr>
            </tfoot>
        </table>
        {% if not combined_data %}
            <div class="alert alert-warning">{% trans "No info found for the selected criteria." %}</div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        const usernameInput = $('#username_search');
        const selectedUsernames = $('#selected_usernames');

        // Initialize DataTable
        const dataTable = $('#payout-table').DataTable({
            paging: true,
            searching: false,
            info: false,
            footerCallback: function (row, data, start, end, display) {
                let api = this.api();
                let totalPayout = 0;
                let totalSettledPayout = 0;
                let totalAll = 0;

                // Calculate the total for each column
                api.column(1, { page: 'current' }).data().each(function(value) {
                    totalPayout += parseFloat(value.replace(/,/g, ''));
                });
                api.column(2, { page: 'current' }).data().each(function(value) {
                    totalSettledPayout += parseFloat(value.replace(/,/g, ''));
                });
                api.column(3, { page: 'current' }).data().each(function(value) {
                    totalAll += parseFloat(value.replace(/,/g, ''));
                });

                // Update the footer with the totals
                $(api.column(1).footer()).html(totalPayout.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                $(api.column(2).footer()).html(totalSettledPayout.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                $(api.column(3).footer()).html(totalAll.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
            }
        });

        // Handle the input and change events on the username input field
        usernameInput.on('input change', function(event) {
            const selectedUsername = usernameInput.val();
            if (event.type === 'change' || (event.type === 'input' && selectedUsername && selectedUsername.trim() !== '')) {
                usernameInput.data('selected', true);
            } else {
                usernameInput.data('selected', false);
            }
        });

        // Add username on Enter key press
        usernameInput.on('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                const selectedUsername = usernameInput.val();
                if (selectedUsername && usernameInput.data('selected') && !$(`input[value="${selectedUsername}"]`).length) {
                    addUsername(selectedUsername);
                    usernameInput.val('').data('selected', false);
                }
            }
        });

        function addUsername(username) {
            if (username && !$(`input[value="${username}"]`).length) {
                const li = $(`
                    <li class="list-group-item">
                        ${username}
                        <input type="hidden" name="usernames" value="${username}">
                        <button type="button" class="close" aria-label="Close" onclick="removeUsername(this)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                `);
                selectedUsernames.append(li);
            }
        }

        window.removeUsername = function(button) {
            $(button).closest('li').remove();
        }

        $('#filter-form').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'user_payout_statistics' %}",
                type: "GET",
                data: $(this).serialize(),
                success: function(response) {
                    dataTable.clear().draw();
                    if (response.combined_data && Object.keys(response.combined_data).length) {
                        $.each(response.combined_data, function(username, totals) {
                            const total = totals.total_payout + totals.total_settled_payout;
                            const newRow = dataTable.row.add([
                                username,
                                totals.total_payout.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'),
                                totals.total_settled_payout.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'),
                                total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                            ]).node();

                            $(newRow).addClass('table-sm');
                        });
                        dataTable.draw();
                    } else {
                        const noDataRow = dataTable.row.add([
                            '{% trans "No info found for the selected criteria." %}',
                            '',
                            '',
                            ''
                        ]).node();

                        $(noDataRow).addClass('table-sm');
                        dataTable.draw();
                    }
                }
            });
        });

        function formatDateToYYYYMMDD(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        function setDateTimeInputs() {
            const startInput = $('#start_datetime');
            const endInput = $('#end_datetime');

            const currentDate = new Date();
            const today = formatDateToYYYYMMDD(currentDate);
            const startDateTime = `${today}T00:00`;
            const endDateTime = `${today}T23:59`;

            if (!startInput.val()) {
                startInput.val(startDateTime);
            }
            if (!endInput.val()) {
                endInput.val(endDateTime);
            }
        }

        setDateTimeInputs();
    });
</script>
{% endblock %}


